<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="bar" params="name origin_xyz">
    <link name="${name}">
      <inertial>
      <origin
        xyz="0.45 0.073187 0.020151"
        rpy="0 0 0" />
        <mass value="2.4389" />
        <inertia ixx="0.002886" ixy="0" ixz="0" iyy="1.1032" iyz="-0.00029921" izz="1.1009" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="$(find meshes/${name}.STL" />
        </geometry>
        <!-- The color is defined in the main file or through a gazebo tag -->
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="$(find meshes/${name}.STL" />
        </geometry>
      </collision>
    </link>
    <xacro:set_gazebo_color link_name="${name}" r="0.2941" g="0.3255" b="0.1255"/> <!-- Military Green -->
    
    <joint name="${name}_joint" type="fixed">
      <origin xyz="${origin_xyz}" rpy="3.1416 0 0" />
      <parent link="J8_top" />
      <child link="${name}" />
      <axis xyz="0 0 0" />
    </joint>
  </xacro:macro>
</robot>

